<p id="notice"><%= notice %></p>

<div>
<h3>Welcome to <%= @course.CourseTitle.titleize %> taught by <%= @course.Instructor1Name.titleize %> </h3>
</div>

<p>
  <b>Call Number:</b>
  <%= @course.CallNumber %>
</p>

<p>
  <b>Course Title:</b>
  <%= @course.CourseTitle %>
</p>

<p>
  <b>Start Time:</b>
  <%= @course.StartTime1 %>
</p>

<p>
  <b>End Time:</b>
  <%= @course.EndTime1 %>
</p>

<p>
  <b>Meets On:</b>
  <%= @course.MeetsOn1 %>
</p>

<p>
  <b>Building:</b>
  <%= @course.Building1 %>
</p>

<p>
  <b>Room:</b>
  <%= @course.Room1 %>
</p>

<p>
  <b>Instructor Name:</b>
  <%= @course.Instructor1Name %>
</p>

<%if @current_user.role == "admin"%>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Add Students', addStudents_course_path(@course) %> |
<% end %>

<%= link_to 'Back', myCourses_path %>
